<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.bdqn.tangcco.tbuser.dao.TbuserMapper">
    <resultMap id="roleUserMap" type="cn.bdqn.tangcco.entity.Roleuser">
        <id column="roluse_id" property="roluseId"></id>
        <result column="roluse_desc" property="roluseDesc"/>
        <result column="add_time" property="addTime"/>
        <result column="last_update" property="lastUpdate"/>
        <association property="tbuser" resultMap="userMap" javaType="Tbuser"></association>
        <association property="role" resultMap="roleMap" javaType="Role"></association>
    </resultMap>
    <resultMap id="roleMap" type="Role">
        <id column="role_id" property="roleId"></id>
        <result column="role_name" property="roleName"/>
        <result column="role_level" property="roleLevel"/>
        <result column="add_time" property="addTime"/>
        <result column="last_update" property="lastUpdate"/>
        <result column="role_status" property="roleStatus"/>
    </resultMap>
    <resultMap id="userMap" type="Tbuser">
        <id column="user_id" property="userId"></id>
        <result column="userinfo_id" property="userinfoId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="last_login" property="lastLogin"/>
    </resultMap>

    <select id="queryUserByUsernameAndPassword" resultMap="roleUserMap"
            resultType="cn.bdqn.tangcco.entity.Tbuser">

       SELECT * FROM tbuser u,role_user ru,role r
        WHERE ru.user_id=u.user_id
        AND ru.role_id=r.`role_id`
        AND u.user_name=#{userName}
        AND u.password=#{password}
    </select>
</mapper>
